language: python
python:
  - "2.7"
  - "3.6"

install:
  - pip install coveralls
  - pip install tox-travis
  - pip install tox==2.6.0

before_script:
  - export PYTHONPATH=$PYTHONPATH:$PWD

script:
  - tox

after_success:
  - if [ "$TRAVIS_PYTHON_VERSION" == "2.7" ]; then coveralls; fi
